/*Font*/

@font-face {
    font-family: "BebasNeue-Regular";
    src: url(../fonts/BebasNeue-Regular.ttf) format("truetype");
}


/*style*/

body {
    font: 18px/36px 'BebasNeue-Regular', arial, sans-serif;
    background-color: #ddd;
}

h1 {
    font-size: 80px;
    margin: 50px 0px 50px 0px;
    text-align: center;
    text-shadow: 1px 1px 1px red;
}

.container {
    width: 600px;
    background-color: white;
    margin: auto auto auto auto;
    padding: 30px 30px 30px 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid yellow;
    float: left;
    margin-right: 20px;
    position: relative;
    
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,0.5);
    position: absolute;
    top: 0px;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px 1px #ddd;
    opacity: 0;
    transition: 0.3s;
    transform: scale(0) rotate(0);
}

.gallery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg)
}

.gallery li .thumb {
    width: 120px;
    height: 120px; 
}

.gallery li,
.gallery li img .thumb, 
.gallery li span {
    border-radius: 50%;
}

.clear {
    clear: both;
}


/* overlay */
.overlay{
    width: 0px;
    height: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0);
    z-index: 9999;
    transition: 0.3s;
    text-align: center;
    padding: 100px;
}

.overlay:target {
    width: auto;
    height: auto;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.6);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 5px rgba(165, 113, 113, 0.904);
}

.overlay:target img {
    animation: animation 1s;
}

.overlay .close {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 10px;
    padding:5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slidedown 0.5s 0.5s forwards;
}

/* animation*/
@keyframes animation {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

@keyframes slidedown {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}


